* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  color: rgb(236, 127, 42);
  background-color: rgb(60, 21, 16);
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: auto;
}

.logo {
  display: flex;
  width: 60%;
  height: auto;
  margin: auto;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-link {
  transition: 0, 7s ease;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(236, 127, 42);
}

.headerlogo {
  width: 25%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  background-color: rgb(236, 127, 42);
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: rgb(236, 127, 42);
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger .active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger .active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger .active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    top: 70px;
    left: -100%;
    background-color: rgb(60, 21, 16);
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

h1,
h2,
h3 {
  color: rgb(241, 227, 188);
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-content {
  max-width: 100%;
}

p {
  text-align: center;
  margin: 20px;
}

.form-row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

input,
textarea {
  width: 50%;
  padding: 12px 20px;
}

[type="submit"] {
  background-color: rgb(236, 127, 42);
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 0px rgba(255, 255, 255, 5);
  box-sizing: content-box;
  font-size: 1rem;
}

[type="submit"]:hover {
  background-color: black;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  text-align: center;
}

.appform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: rgb(241, 227, 188);
  font-size: 16px;
}
